@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url('/images/bg_n.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed; /* default pre desktop */
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* prepne len pre mobily */
  }
}
